<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>FuelMapper</title>
    <meta name="description" content="Map your carbohydrate usage during Ironman">
    <meta property="og:title" content="FuelMapper">
    <meta property="og:image" content="/images/kona.jpg">
    <meta property="og:description" content="Map your carbohydrate usage">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href={{stylesheet}}>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src={{js}}></script>
    <link rel="icon" type="image/png"  href="http://www.slate.com/features/2014/10/run/img/icon_20027/icon_20027.png">
  </head>
  <body>
    <nav id='left'>
      <h1 class="navtitle">FUEL</h1>
      <h2 class="navtitle">MAPPER</h2>
      <a href="/" class={{what}}>What is it?</a>
      <a href="/app" class={{calculate}}>Map my fuel</a>
    </nav>
    <div id="right" {{background}}>
      {{{body}}}
    </div>

  </body>
</html>
